In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tarko-Sale,RU,2022-10-15 16:54:14,64.9225,77.7850,32.99,88,93,11.63
1,1,Jamestown,US,2022-10-15 16:54:14,42.0970,-79.2353,55.04,58,100,19.57
2,2,Punta Arenas,CL,2022-10-15 16:54:15,-53.1500,-70.9167,51.91,37,0,18.41
3,3,Bridlington,GB,2022-10-15 16:54:15,54.0831,-0.1919,53.89,68,41,23.89
4,4,Vao,NC,2022-10-15 16:54:15,-22.6667,167.4833,67.91,62,2,8.12

In [2]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp,0))

In [5]:
# Heatmap of temperature

# 1. Get the latitude and longitude- Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat","Lng"]]

# 2. Get the maximum temperature- Assign the weights variable to some values
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(20.0, 21.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature your would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature your would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Butaritari,KI,2022-10-15 16:54:17,3.0707,172.7902,80.94,74,69,19.86
19,19,Gerash,IR,2022-10-15 16:54:21,27.6652,54.1371,80.74,19,0,3.71
27,27,Manuk Mangkaw,PH,2022-10-15 16:54:24,4.8000,119.8500,83.08,74,70,4.09
28,28,Atuona,PF,2022-10-15 16:52:29,-9.8000,-139.0333,76.19,73,10,15.30
29,29,Ponta Do Sol,PT,2022-10-15 16:54:24,32.6667,-17.1000,76.01,74,63,2.68
38,38,Gorontalo,ID,2022-10-15 16:54:27,0.5412,123.0595,76.42,94,98,2.21
41,41,Kutum,SD,2022-10-15 16:54:28,14.2000,24.6667,83.17,20,9,6.13
60,60,Robore,BO,2022-10-15 16:55:34,-18.3333,-59.7500,86.22,48,100,3.31
64,64,Sao Filipe,CV,2022-10-15 16:55:36,14.8961,-24.4956,77.81,76,24,6.87
65,65,Hilo,US,2022-10-15 16:55:36,19.7297,-155.0900,81.28,100,100,6.91

In [16]:
preferred_cities_df.count()

City_ID       172
City          172
Country       169
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64