# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [48]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Qaanaaq,GL,77.4840,-69.3632,7.03,91,98,4.05,overcast clouds
1,1,Jamestown,US,42.0970,-79.2353,40.59,89,100,17.27,overcast clouds
2,2,Cabo San Lucas,MX,22.8909,-109.9124,85.17,67,34,5.21,scattered clouds
3,3,Wakkanai,JP,45.4094,141.6739,48.42,55,100,24.79,overcast clouds
4,4,Broome,US,42.2506,-75.8330,48.15,63,100,9.22,overcast clouds
5,5,Komsomolskiy,UZ,40.4272,71.7189,56.12,76,75,2.30,light rain
6,6,Saldanha,ZA,-33.0117,17.9442,59.05,95,72,12.28,broken clouds
7,7,Chokurdakh,RU,70.6333,147.9167,4.37,98,97,4.79,overcast clouds
8,8,Saskylakh,RU,71.9167,114.0833,18.90,86,100,14.38,overcast clouds
9,9,Lompoc,US,34.6391,-120.4579,81.79,56,0,12.66,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Please enter the minimum temperature you would like for your trip."))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Please enter the maximum temperature you would like for your trip."))

Please enter the minimum temperature you would like for your trip.75
Please enter the maximum temperature you would like for your trip.90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [20]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Cabo San Lucas,MX,22.8909,-109.9124,85.17,67,34,5.21,scattered clouds
9,9,Lompoc,US,34.6391,-120.4579,81.79,56,0,12.66,clear sky
24,24,Kieta,PG,-6.2167,155.6333,83.14,68,51,2.48,broken clouds
31,31,Vaini,TO,-21.2000,-175.2000,80.76,94,75,9.22,broken clouds
34,34,Alofi,NU,-19.0595,-169.9187,80.49,69,75,13.80,broken clouds
37,37,Avarua,CK,-21.2078,-159.7750,80.65,54,40,20.71,scattered clouds
40,40,Hobyo,SO,5.3505,48.5268,77.79,83,100,16.67,overcast clouds
41,41,Santa Cruz,BO,-17.8000,-63.1667,76.46,69,75,12.66,broken clouds
43,43,Vitorino Freire,BR,-4.0667,-45.1667,84.67,48,72,3.62,broken clouds
48,48,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,88,40,19.57,scattered clouds

In [22]:
# Check for nulls in the preferred_cities_df
preferred_cities_df.count()

City_ID                193
City                   193
Country                192
Lat                    193
Lng                    193
Max Temp               193
Humidity               193
Cloudiness             193
Wind Speed             193
Current Description    193
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [23]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Cabo San Lucas,MX,22.8909,-109.9124,85.17,67,34,5.21,scattered clouds
9,9,Lompoc,US,34.6391,-120.4579,81.79,56,0,12.66,clear sky
24,24,Kieta,PG,-6.2167,155.6333,83.14,68,51,2.48,broken clouds
31,31,Vaini,TO,-21.2000,-175.2000,80.76,94,75,9.22,broken clouds
34,34,Alofi,NU,-19.0595,-169.9187,80.49,69,75,13.80,broken clouds
37,37,Avarua,CK,-21.2078,-159.7750,80.65,54,40,20.71,scattered clouds
40,40,Hobyo,SO,5.3505,48.5268,77.79,83,100,16.67,overcast clouds
41,41,Santa Cruz,BO,-17.8000,-63.1667,76.46,69,75,12.66,broken clouds
43,43,Vitorino Freire,BR,-4.0667,-45.1667,84.67,48,72,3.62,broken clouds
48,48,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,88,40,19.57,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [24]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
2    Cabo San Lucas      MX     85.17    scattered clouds  22.8909 -109.9124
9            Lompoc      US     81.79           clear sky  34.6391 -120.4579
24            Kieta      PG     83.14       broken clouds  -6.2167  155.6333
31            Vaini      TO     80.76       broken clouds -21.2000 -175.2000
34            Alofi      NU     80.49       broken clouds -19.0595 -169.9187
37           Avarua      CK     80.65    scattered clouds -21.2078 -159.7750
40            Hobyo      SO     77.79     overcast clouds   5.3505   48.5268
41       Santa Cruz      BO     76.46       broken clouds -17.8000  -63.1667
43  Vitorino Freire      BR     84.67       broken clouds  -4.0667  -45.1667
48  Arraial Do Cabo      BR     75.16    scattered clouds -22.9661  -42.0278

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [25]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cabo San Lucas,MX,85.17,scattered clouds,22.8909,-109.9124,
9,Lompoc,US,81.79,clear sky,34.6391,-120.4579,
24,Kieta,PG,83.14,broken clouds,-6.2167,155.6333,
31,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,
34,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,
37,Avarua,CK,80.65,scattered clouds,-21.2078,-159.7750,
40,Hobyo,SO,77.79,overcast clouds,5.3505,48.5268,
41,Santa Cruz,BO,76.46,broken clouds,-17.8000,-63.1667,
43,Vitorino Freire,BR,84.67,broken clouds,-4.0667,-45.1667,
48,Arraial Do Cabo,BR,75.16,scattered clouds,-22.9661,-42.0278,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [26]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [27]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cabo San Lucas,MX,85.17,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
9,Lompoc,US,81.79,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
24,Kieta,PG,83.14,broken clouds,-6.2167,155.6333,Uruna Bay Retreat
31,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
34,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,Taloa Heights
37,Avarua,CK,80.65,scattered clouds,-21.2078,-159.7750,Paradise Inn
40,Hobyo,SO,77.79,overcast clouds,5.3505,48.5268,Halane Hotel and Restaurent
41,Santa Cruz,BO,76.46,broken clouds,-17.8000,-63.1667,Aviador Hotel Boutique
43,Vitorino Freire,BR,84.67,broken clouds,-4.0667,-45.1667,Francelina
48,Arraial Do Cabo,BR,75.16,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [39]:
hotel_df.isnull().count()

City                   192
Country                192
Max Temp               192
Current Description    192
Lat                    192
Lng                    192
Hotel Name             192
dtype: int64

In [49]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
print (hotel_df)

               City Country  Max Temp   Current Description      Lat  \
2    Cabo San Lucas      MX     85.17      scattered clouds  22.8909
9            Lompoc      US     81.79             clear sky  34.6391
24            Kieta      PG     83.14         broken clouds  -6.2167
31            Vaini      TO     80.76         broken clouds -21.2000
34            Alofi      NU     80.49         broken clouds -19.0595
..              ...     ...       ...                   ...      ...
658            Muli      MV     80.71       overcast clouds   2.9167
661         Gouyave      GD     80.42             clear sky  12.1646
663      Port Keats      AU     83.28       overcast clouds -14.2500
669     Corn Island      NI     82.92       overcast clouds  12.1694
670            Mitu      CO     80.73  heavy intensity rain   1.1983

          Lng                                Hotel Name
2   -109.9124                    Hotel Tesoro Los Cabos
9   -120.4579  Holiday Inn Express Lompoc, an IHG Hotel
24   155.6333                         Uruna Bay Retreat
31  -175.2000                       Keleti Beach Resort
34  -169.9187                             Taloa Heights
..        ...                                       ...
658   73.5667                  Medhufushi Island Resort
661  -61.7296                           Rumboat Retreat
663  129.5500            Kardu Durrikardu Numida Hostel
669  -83.0418                      Big Fish Guest House
670  -70.1733                                       NaN

[192 rows x 7 columns]

In [50]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Cabo San Lucas,MX,85.17,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
9,Lompoc,US,81.79,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
24,Kieta,PG,83.14,broken clouds,-6.2167,155.6333,Uruna Bay Retreat
31,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
34,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,Taloa Heights
37,Avarua,CK,80.65,scattered clouds,-21.2078,-159.7750,Paradise Inn
40,Hobyo,SO,77.79,overcast clouds,5.3505,48.5268,Halane Hotel and Restaurent
41,Santa Cruz,BO,76.46,broken clouds,-17.8000,-63.1667,Aviador Hotel Boutique
43,Vitorino Freire,BR,84.67,broken clouds,-4.0667,-45.1667,Francelina
48,Arraial Do Cabo,BR,75.16,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [32]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [53]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [54]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [55]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 85.17 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Express Lompoc, an IHG Hotel</dd>\n<dt>City</dt><dd>Lompoc</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.79 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Uruna Bay Retreat</dd>\n<dt>City</dt><dd>Kieta</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>broken clouds and 83.14 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.76 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Taloa Heights</dd>\n<dt>City</dt><dd>Alofi</dd>\n<dt>Country</dt><dd>NU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.49 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.65 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Halane Hotel and Restaurent</dd>\n<dt>City</dt><dd>Hobyo</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.79 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aviador Hotel Boutique</dd>\n<dt>City</dt><dd>Santa Cruz</dd>\n<dt>Country</dt><dd>BO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.46 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Francelina</dd>\n<dt>City</dt><dd>Vitorino Freire</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.67 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.16 F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [56]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2   22.8909 -109.9124
9   34.6391 -120.4579
24  -6.2167  155.6333
31 -21.2000 -175.2000
34 -19.0595 -169.9187
37 -21.2078 -159.7750
40   5.3505   48.5268
41 -17.8000  -63.1667
43  -4.0667  -45.1667
48 -22.9661  -42.0278

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [57]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))